services:
  # reverse-proxy:
  #   image: traefik
  #   command:
  #     - --api.insecure=true
  #     - --providers.docker
  #     - --entryPoints.web.address=:80
  #     - --entryPoints.websecure.address=:443
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #     # The Web UI (enabled by --api.insecure=true)
  #     - "8080:8080"
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   networks:
  #     - proxy

  client:
    build: 
      context: client
      dockerfile: Dockerfile
    volumes: 
      - ./client/src:/client/src
    networks:
      - proxy
    stdin_open: true
    tty: true
    depends_on:
      - posts
      - comments
      # - reverse-proxy
    ports: 
      - 3000:3000
    networks:
      - proxy
    # labels:
    #       - traefik.frontend.rule=Host:client.localhost
    #       - "traefik.http.routers.client.rule=Host(`client.localhost`)"
    #       - "traefik.http.routers.client.entryPoints=web,traefik"
    #       - "traefik.http.services.client.loadbalancer.server.port=3000"
    #       - "traefik.http.routers.client-ssl.rule=Host(`client.localhost`)"
    #       - "traefik.http.routers.client-ssl.entryPoints=websecure"
    #       - "traefik.http.routers.client-ssl.tls=true"
    #       - "traefik.http.routers.client-ssl.service=client"

  posts:
    build: 
      context: posts
      dockerfile: Dockerfile
    volumes: 
      - ./posts/src:/posts/src
    # depends_on:
      # - reverse-proxy
    ports: 
      - 4000:4000
    networks:
      - proxy
    # labels:
    #       - "traefik.http.routers.posts.rule=Host(`posts.localhost`)"
    #       - "traefik.http.routers.posts.entryPoints=web,traefik"
    #       - "traefik.http.services.post.loadbalancer.server.port=4000"
    #       - "traefik.http.routers.posts-ssl.rule=Host(`posts.localhost`)"
    #       - "traefik.http.routers.posts-ssl.entryPoints=websecure"
    #       - "traefik.http.routers.posts-ssl.tls=true"
    #       - "traefik.http.routers.posts-ssl.service=posts"

  comments:
    build: 
      context: comments
      dockerfile: Dockerfile
    volumes: 
      - ./comments/src:/comments/src
    # depends_on:
      # - reverse-proxy
    ports: 
      - 4001:4001
    networks:
      - proxy
    # labels:
    #       - "traefik.http.routers.comments.rule=Host(`comments.localhost`)"
    #       - "traefik.http.routers.comments.entryPoints=web,traefik"
    #       - "traefik.http.services.comments.loadbalancer.server.port=4001"
    #       - "traefik.http.routers.comments-ssl.rule=Host(`comments.localhost`)"
    #       - "traefik.http.routers.comments-ssl.entryPoints=websecure"
    #       - "traefik.http.routers.comments-ssl.tls=true"
    #       - "traefik.http.routers.comments-ssl.service=comments"

  event-bus:
    build: 
      context: event-bus
      dockerfile: Dockerfile
    volumes: 
      - ./event-bus/src:/event-bus/src
    # depends_on:
      # - reverse-proxy
    ports: 
      - 4005:4005
    networks:
      - proxy
    # labels:
    #       - "traefik.http.routers.posts.rule=Host(`posts.localhost`)"
    #       - "traefik.http.routers.posts.entryPoints=web,traefik"
    #       - "traefik.http.services.post.loadbalancer.server.port=4000"
    #       - "traefik.http.routers.posts-ssl.rule=Host(`posts.localhost`)"
    #       - "traefik.http.routers.posts-ssl.entryPoints=websecure"
    #       - "traefik.http.routers.posts-ssl.tls=true"
    #       - "traefik.http.routers.posts-ssl.service=posts"

  query:
    build: 
      context: query
      dockerfile: Dockerfile
    volumes: 
      - ./query/src:/query/src
    # depends_on:
      # - reverse-proxy
    ports: 
      - 4002:4002
    networks:
      - proxy
    # labels:
    #       - "traefik.http.routers.posts.rule=Host(`posts.localhost`)"
    #       - "traefik.http.routers.posts.entryPoints=web,traefik"
    #       - "traefik.http.services.post.loadbalancer.server.port=4000"
    #       - "traefik.http.routers.posts-ssl.rule=Host(`posts.localhost`)"
    #       - "traefik.http.routers.posts-ssl.entryPoints=websecure"
    #       - "traefik.http.routers.posts-ssl.tls=true"
    #       - "traefik.http.routers.posts-ssl.service=posts"

  moderation:
    build: 
      context: moderation
      dockerfile: Dockerfile
    volumes: 
      - ./moderation/src:/moderation/src
    # depends_on:
      # - reverse-proxy
    ports: 
      - 4003:4003
    networks:
      - proxy
    # labels:
    #       - "traefik.http.routers.posts.rule=Host(`posts.localhost`)"
    #       - "traefik.http.routers.posts.entryPoints=web,traefik"
    #       - "traefik.http.services.post.loadbalancer.server.port=4000"
    #       - "traefik.http.routers.posts-ssl.rule=Host(`posts.localhost`)"
    #       - "traefik.http.routers.posts-ssl.entryPoints=websecure"
    #       - "traefik.http.routers.posts-ssl.tls=true"
    #       - "traefik.http.routers.posts-ssl.service=posts"

networks:
  proxy: